html { overflow: hidden; height: 100%;}
video { height: 20%; display: block; top: 0; left: 0; object-fit: cover;}
body {
  /* background-color: black; */
  margin: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
span{
	top: 400px;
    position: absolute;	
}
.video-panel{
	display:flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.video-panel__item{
	/* flex:1; */
}
.video-panel__item video{
border-radius: 100%;
object-fit: cover;
width:160px;
height: 160px;
animation: slide-up 1.6s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide-down {
    100%  {
        opacity: 0;
        transform: translateY(60px);
    }
    0% {
        opacity: 1;
        transform: translateY(0);
    }
}